# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git
/.git

# Dev env (visual studio code)
/.vscode/

# Local storage
/data.json

# C Compiled files
*.o
*.a
*.so

# Etc.
*~